<?xml version=”1.0" encoding=”UTF-8"?>
<!DOCTYPE plist PUBLIC “-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version=”1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
	    <key>com.karthik.dummyci</key>
        <string>Dummy Wildcard iOS Distribution Profile</string>
	</dict>
	<key>signingCertificate</key>
	<string>(J9KY5Z2V8M)</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>J9KY5Z2V8M</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>